.calendar {
  font-family: "Spoqa Han Sans Neo";
  flex-wrap: wrap;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  margin: 26px 90px 0;
  .days {
    display: flex;
    font-weight: 500;
    .day {
      display: flex;
      justify-content: center;
      width: calc(100% / 7);
      height: 48px;
      min-width: 48px;
      margin-bottom: 10px;
      padding: 6px;
      text-align: center;
    }
  }
  .dates {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    .date {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      width: calc(100% / 7);
      height: 48px;
      padding: 6px;
      flex-direction: column;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &.today {
        color: #fff;
        border-radius: 4px;
      }
      &.gray {
        color: gray;
        background-color: #fff;
      }
      span {
        font-size: 10px;
      }
    }
  }
}