.calendar {
  //display: flex;
  width: 420px;
  //height: 362px;
  margin: 0 90px;
  flex-wrap: wrap;
}

.days {
  display: flex;
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
}
.dates {
  display: flex;
  flex-wrap: wrap;
}
.date {
  width: calc(100% / 7);
  min-width: 48px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  &.today {
    border-radius: 4px;
    color: #fff;
  }
  &.gray {
    color: gray;
    background-color: #fff !important;
  }
}
