header {
  .inner {
    width: calc(100% - 260px);
    height: 220px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .logo {
      margin-right: 70px;
      width: 160px;
      img {
        width: 100%;
        display: block;
      }
    }
    .gnb {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      button.buycomplete {
        width: 130px;
        height: 46px;
        color: #fff;
        background-color: #5CBB90;
      }
      .search {
        position: relative;
        width: 430px;
        input {
          border: 1px solid #191919;
          font-family: "Noto Sans KR";
          font-size: 16px;
          letter-spacing: -.05em;
          width: 100%;
          border-radius: 30px;
          height: 46px;
          padding: 0 20px;
          transition: .2s;
          &:focus {
            outline: none;
            color: #191919;
            border-color: #53bc53;
          }
          &::placeholder {
            color: #8e8e8e;
          }
        }
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
      }
      .myinfo {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          display: block;
          font-family: "Noto Sans KR";
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -.05em;
        }
        div {
          width: 28px;
          height: 28px;
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}