
.pretend-buy-container {
  width: 100%;
  height: 80%;
}

.pretend-buy-title {
  display: flex;
  width: 600px;
  height: 60px;
  background-color: #5cbb90;
  align-items: center;
  justify-content: center;
  position: relative;
}

.plus {
}

.minus {
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
}

#description {
  border:none;
  width: 200px;
  font-size: 17px;
  margin-bottom: 5px;
  :focus{
    color:#FE6666;
    font-weight:bold;
  }
}

.description {
  border: none;
  font-size: 17px;
  margin-bottom: 5px;
}

#amount {
  border:none;
  font-size: 17px;
  width: 80px;
  margin-right: 5px;
}

.img-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.plus-button {
  font-size: 40px;
  color: #53bc53;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-input {
  font-size: 14px;
  padding: 6px 10px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  outline: none;
  &:focus {
    border-radius: 4px;
    border-color: var(--primary1);
  }
}

.money-input {
  font-family: "Spoqa Han Sans Neo";
  font-size: 14px;
  width: 100px;
  padding: 6px 10px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  outline: none;
  &:focus {
    border-radius: 4px;
    border-color: var(--primary1);
  }
}

.list-container {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  height: 170px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    height: 10%; 
    background-color: var(--primary1);
    border-radius: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
}

.addButton {
  font-size: 15px;
  padding: 6px 12px;
  color: #fff;
  background-color: #5cbb90;
}

.pretend-list {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pretend-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-button {
  font-size: 15px;
  padding: 3px;
  background-color: #5cbb90;

  :hover {
    cursor: pointer;
    background-color: #FE6666;
  }
}

.delete-button {
  font-size: 40px;
  padding: 3px;
  color: #53bc53;

  :hover {
    cursor: pointer;
    background-color: #5cbb90;
  }

  :hover {
    cursor: pointer;
    font-weight: bold;
    color: #FE6666;
  }
}